<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.ra-phi.alfred.terminal</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0313EE7B-DCF4-447A-B0B2-B4F3C01D5010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C76DC8CE-49D7-41AE-9BF9-ACAAF1519920</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>218060B9-7A22-434F-B0E2-D140156466A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0313EE7B-DCF4-447A-B0B2-B4F3C01D5010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>23FCC909-1172-4B0F-AD6A-1A9A412B8578</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44E853A8-1CB0-4609-8D8C-A0DACBA225AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3F3BCE17-01D7-4E3D-A322-D3683475943D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A2731B0-3515-4AEE-AA9A-97238376BE32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9C99B845-75D0-4B4A-8B68-1F4843D75E2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>218060B9-7A22-434F-B0E2-D140156466A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A58F8D77-093C-48CA-A162-8F3D45199264</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD5DA0CC-1EB9-4C05-B536-BE255E493656</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DDF472A7-84C7-49D3-9642-3F8E0462158D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A58F8D77-093C-48CA-A162-8F3D45199264</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>raφ</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>open -a Terminal "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>44E853A8-1CB0-4609-8D8C-A0DACBA225AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
					<string>public.volume</string>
				</array>
				<key>name</key>
				<string>Open Terminal Here</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>23FCC909-1172-4B0F-AD6A-1A9A412B8578</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>terminal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9C99B845-75D0-4B4A-8B68-1F4843D75E2E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Command output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C76DC8CE-49D7-41AE-9BF9-ACAAF1519920</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>&gt;</string>
				<key>text</key>
				<string>Run Command</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>218060B9-7A22-434F-B0E2-D140156466A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>shopt -s expand_aliases
source ~/.bash_profile

dir=~

if [ -e ./termpath ]; then
	dir="$(cat ./termpath)"
	rm ./termpath
fi

(
	cd "$dir"
	{query}
) 2&gt;&amp;1

echo "Finished"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0313EE7B-DCF4-447A-B0B2-B4F3C01D5010</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
					<string>public.volume</string>
				</array>
				<key>name</key>
				<string>&gt; Here</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3F3BCE17-01D7-4E3D-A322-D3683475943D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>echo "{query}" &gt; ./termpath
osascript -e 'tell application "Alfred 2" to run trigger "terminal" in workflow "ch.ra-phi.alfred.terminal"'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4A2731B0-3515-4AEE-AA9A-97238376BE32</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>&lt;</string>
				<key>subtext</key>
				<string>with large type</string>
				<key>text</key>
				<string>Run Command</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DDF472A7-84C7-49D3-9642-3F8E0462158D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>CD5DA0CC-1EB9-4C05-B536-BE255E493656</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>shopt -s expand_aliases
source ~/.bash_profile

dir=~

if [ -e ./termpath ]; then
	dir="$(cat ./termpath)"
	rm ./termpath
fi

(
	cd "$dir"
	{query}
) 2&gt;&amp;1

echo "Finished"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A58F8D77-093C-48CA-A162-8F3D45199264</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0313EE7B-DCF4-447A-B0B2-B4F3C01D5010</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>218060B9-7A22-434F-B0E2-D140156466A5</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>23FCC909-1172-4B0F-AD6A-1A9A412B8578</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>3F3BCE17-01D7-4E3D-A322-D3683475943D</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>44E853A8-1CB0-4609-8D8C-A0DACBA225AE</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4A2731B0-3515-4AEE-AA9A-97238376BE32</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>9C99B845-75D0-4B4A-8B68-1F4843D75E2E</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A58F8D77-093C-48CA-A162-8F3D45199264</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>C76DC8CE-49D7-41AE-9BF9-ACAAF1519920</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>CD5DA0CC-1EB9-4C05-B536-BE255E493656</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>DDF472A7-84C7-49D3-9642-3F8E0462158D</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://ra-phi.ch</string>
</dict>
</plist>
